.css-13cymwt-control{
    border-radius: 15px;
    border: solid 2px #c95489;
    width: 300px;
    height: 35px;
}

.css-t3ipsp-control{
    border-radius: 15px;
    outline: none;
    width: 300px;
    height: 35px;
}